[core]
  pager = delta

[diff]
	colorMoved = default

[delta]
	features = line-numbers decorations
	minus-style                   = green
	minus-non-emph-style          = green
	minus-emph-style              = reverse green
	plus-style                    = red
	plus-non-emph-style           = red
	plus-emph-style               = reverse red
	minus-empty-line-marker-style = normal "#4d4b4f"
	plus-empty-line-marker-style  = normal "#3e5c64"
	line-numbers-minus-style			= "#735243"
	line-numbers-plus-style				= "#a28977"

[user]
	mail = ghani.rafif.2112@gmail.com
	name = Ghani Rafif
	email = ghani.rafif.2112@gmail.com
