[submodule "bin/color"]
	path = bin/color
	url = https://github.com/stark/color-scripts
[submodule "term-n-shell"]
	path = term-n-shell
	url = git@github.com:ekickx/term-n-shell.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:ekickx/mmm-nvimrc
[submodule "mpv"]
	path = mpv
	url = git@github.com:ekickx/mpv
[submodule "shell"]
	path = shell
	url = git@github.com:ekickx/shell
