[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Xcape
Comment=
Exec=xcape -e "Super_L=Control_L|Shift_L|Alt_L|Super_L"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

